body{
    width: 90%;
    margin: auto;
}
.blok{
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding: 20px;
}
.content1{
    background: #483C46;
}
.content2{
    background: #3C6E71;
}
.content3{
    background: #70AE6E;
}